/* ====================================
// css variables
// ==================================== */

:root {
  --black: #181717;
  --gray: #25262e;
  --light-green: #7def6b;
  --purple: #5d2d8c;
  --blue: #1154ff;
  --light-blue: #1effe4;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
  font-family: "Raleway", sans-serif;
  background-color: var(--black);
  color: white;
  font-size: 16px;
  font-weight: 300;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

header {
  position: relative;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.header-content {
  position: relative;
  backdrop-filter: blur(600px);
  height: 100vh;
}

.shape-1 {
  background-color: var(--light-green);
  border-radius: 100px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 35%;
  right: 0%;
  opacity: 0.75;
}

.shape-2 {
  background-color: var(--purple);
  border-radius: 100px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 80%;
  left: 0%;
  opacity: 0.75;
}

.shape-3 {
  background-color: var(--light-blue);
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10%;
  left: 0%;
  opacity: 0.75;
}

.shape-4 {
  background-color: var(--blue);
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  right: 0%;
  opacity: 0.75;
}

.shape-5 {
  background-color: var(--light-green);
  border-radius: 100px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0.75;
}

@media (min-width: 992px) {
  .header-content {
    height: 100vh;
  }

  .shape-1 {
    background-color: var(--light-green);
    border-radius: 400px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    right: 5%;
    opacity: 0.75;
  }

  .shape-2 {
    background-color: var(--purple);
    border-radius: 400px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 70%;
    left: 0%;
    opacity: 0.75;
  }

  .shape-3 {
    background-color: var(--light-blue);
    border-radius: 400px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -5%;
    left: 0%;
    opacity: 0.75;
  }

  .shape-4 {
    background-color: var(--blue);
    border-radius: 400px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    right: 10%;
    opacity: 0.75;
  }
}

nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 64px 45px 231px;
}

nav a {
  text-decoration: none;
}

@media (min-width: 992px) {
  nav {
    font-size: 20px;
    padding: 92px 100px 231px;
  }
}

@media (min-width: 1200px) {
  nav {
    font-size: 20px;
    padding: 92px 366px 231px;
  }
}

h1 img {
  width: 246px;
}

h1 {
  text-align: center;
}

.title-text {
  font-size: 18px;
  text-align: center;
  padding: 0 86px;
  font-weight: 300;
  padding-bottom: 358px;
}

header {
  margin-bottom: 75px;
}

.arrow {
  display: flex;
  opacity: 40%;
  width: 66px;
  margin: auto;
  rotate: 180deg;
}

@media (min-width: 992px) {
  /* h1 {
    padding: 0 444px;
  } */

  h1 img {
    width: 586px;
  }

  h1 {
    text-align: center;
  }

  .title-text {
    font-size: 24px;
    font-weight: 300;
  }

  header {
    margin-bottom: 270px;
  }

  .arrow {
    display: none;
  }
}

main {
}

h2 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.text-presentation-1 {
  padding-bottom: 45px;
}

.image-1 {
  padding-bottom: 90px;
  width: calc(100% + 12px);
  max-inline-size: none;
}

@media (min-width: 576px) {
  .image-1 {
    width: calc(100% + (100vw - 532px) / 2);
  }
}

@media (min-width: 768px) {
  .image-1 {
    width: calc(100% + (100vw - 712px) / 2);
  }
}

@media (min-width: 992px) {
  .image-1 {
    width: calc(100% + (100vw - 952px) / 2);
  }
}

@media (min-width: 1400px) {
  .image-1 {
    width: calc(100% + (100vw - 1312px) / 2);
  }
}

.image-2 {
  padding-bottom: 45px;
}

.text-presentation-2 {
  padding-bottom: 75px;
}

.paragraphe {
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  main {
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 24px;
  }

  .image-1 {
    padding-bottom: 200px;
    padding-right: 0;
  }

  .image-2 {
    padding-bottom: 130px;
    width: 100%;
  }
  .text-presentation-1 {
    font-size: 30px;
  }

  .text-presentation-2 {
    padding-bottom: 270px;
    font-size: 30px;
  }

  .paragraphe {
    margin-bottom: none;
  }
}

.subtitle {
  padding-bottom: 26px;
  font-size: 16px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.card {
  margin-bottom: 68px;
  font-size: 15px;
}

.button-menu {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  aspect-ratio: 1.37;
}

@media (min-width: 992px) {
  .subtitle {
    padding-bottom: 130px;
    font-size: 36px;
    font-weight: 300;
  }

  h3 {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 7px 0 24px 0;
  }

  .card {
    margin-bottom: 57px;
    font-size: 24px;
  }

  .button-menu {
    font-size: 36px;
    width: 360px;
    height: 262px;
  }
}

.button-reserve {
  background-color: var(--gray);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  padding: 16px 14px;
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  .button-reserve {
    font-size: 30px;
    padding: 25px;
    margin-bottom: 270px;
    margin-top: 212px;
  }
}

.center {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  background-color: var(--gray);
  padding: 50px 120px 45px;
  font-size: 15px;
  font-weight: 500;
}

.contact {
  padding-bottom: 45px;
}

.horaire {
  padding-bottom: 45px;
}

.ikone {
  font-size: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 10px;
}

footer a {
  text-decoration: none;
}

footer img {
  display: none;
  width: 66px;
}

@media (min-width: 992px) {
  footer img {
    display: block;
  }

  footer {
    font-size: 16px;
    padding: 130px 249px 100px;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .ikone {
    font-size: 20px;
    display: flex;
    gap: 15px;
    justify-content: left;
    padding-top: 10px;
  }

  .infos {
  }
}
