/* ====================================
// css variables
// ==================================== */

:root {
  --black: #25262e;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "Raleway", sans-serif;
  background-color: var(--black);
  color: white;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 64px 45px 231px;
}

@media (min-width: 992px) {
  nav {
    font-size: 20px;
    margin: 92px 366px 231px;
  }
}

h1 {
  margin: 0 57px;
}

.title-text {
  font-size: 18px;
  text-align: center;
  margin: 0 86px;
  font-weight: 300;
  padding-bottom: 358px;
}

@media (min-width: 992px) {
  h1 {
    margin: 0 444px;
  }

  .title-text {
    font-size: 24px;
    font-weight: 300;
  }
}
